headerbar, .headerbar{
}

fileListStore, .fileListStore {
}

playListStore, .playListStore {
}

filetitle, .filetitle {
    border-bottom-width: 1;
    border-bottom-style: solid;
    border-bottom-color: #a6a6a6;
}

songtitle, .songtitle {
    font-size: 10px;
}

songartist, .songartist {
    font-size: 8px;
    font-weight: bold;
    padding: 0;
}

songartist *, .songartist * {
    color: #444444;
    text-decoration: none;
}

filesGridContent, .filesGridContent {
    border-top-width: 1;
    border-top-style: solid;
    border-top-color: #cccccc;
}
streamtime, .streamtime {
}

antButton, .antButton{
    /*border-color: white;*/
    /*background-color: white;*/
    border-right-width: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

playButton, .playButton {
    /*border-color: white;*/
    /*background-color: white;*/
    border-radius: 0px;
    border-right-width: 0px;
}

segButton, .segButton {
    /*border-color: white;*/
    /*background-color: white;*/
    border-radius: 0px;
    border-right-width: 0px;
}

randButton, .randButton {
    /*border-radius: 50%;*/
    /*border-color: white;*/
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

volumebar, .volumebar {
    /*background-color: white;*/
    /*border: 0;*/
}

filelisttitle, .filelisttitle {
    font-size: 12px;
}

playlisttitle, .playlisttitle {
    font-size: 12px;
}

filelist_chooser, .filelist_chooser {
    font-weight: bold;
}

addToPlayButton, .addToPlayButton {
    /*border-radius: 50%;*/
    /*border-color: white;*/
    /*background-color: white;*/
}

separator1, .separator1{
}

statusBox, .statusBox {
}

progresBox, .progresBox {
}

statusButtons, .statusButtons {
}

footbar, .footbar {
    background-color: white;
}

conf_btn_label, .conf_btn_label {
  font-weight: bold;
}
