.headerbar{
}

.fileListStore {
}

.playListStore {
}

.filetitle {
    border-bottom-width: 1;
    border-bottom-style: solid;
    border-bottom-color: #a6a6a6;
}

.songtitle {
    font-size: 10px;
}

.songartist {
    font-size: 8px;
    font-weight: bold;
    padding: 0;
}

.songartist * {
    color: #444444;
    text-decoration: none;
}

.filesGridContent {
    border-top-width: 1;
    border-top-style: solid;
    border-top-color: #cccccc;
}
.streamtime {
}

.antButton{
    /*border-color: white;*/
    /*background-color: white;*/
    border-right-width: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.playButton {
    /*border-color: white;*/
    /*background-color: white;*/
    border-radius: 0px;
    border-right-width: 0px;
}

.segButton {
    /*border-color: white;*/
    /*background-color: white;*/
    border-radius: 0px;
    border-right-width: 0px;
}

.randButton {
    /*border-radius: 50%;*/
    /*border-color: white;*/
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.volumebar {
    /*background-color: white;*/
    /*border: 0;*/
}

.filelisttitle {
    font-size: 12px;
}

.playlisttitle {
    font-size: 12px;
}

.filelist_chooser {
    font-weight: bold;
}

.addToPlayButton {
    /*border-radius: 50%;*/
    /*border-color: white;*/
    /*background-color: white;*/
}

.separator1{
}

.statusBox {
}

.progresBox {
}

.statusButtons {
}

.footbar {
    background-color: white;
}

.conf_btn_label {
  font-weight: bold;
}
