[Desktop Entry]
Name=MuseIC
GenericName=MuseIC App
Categories=AudioVideo;Audio;
Exec=com.github.bcedu.MuseIC
Icon=museic-icon.svg
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=MuseIC
Keywords=MuseIC;museic;music;
X-GNOME-UsesNotifications=true
